/* ------ Configurações de Responsividade ------*/

@media (max-width: 780px) {
    .menu-wrap {
        display: none;
    }

    .titulo-anime {
        font-size: 3em;
    }
    .text-container {
        margin-left: 0;
    }
    .text-container > p {
        font-size: 1.5em;
        padding-left: 5px;
    }

    .menu-wrap.animate {
        display: block;
        z-index: 2;
        padding-top: 3em;

        background-color: #11073323;
        backdrop-filter: blur(3px);

        position: fixed;
        right: 0;
        top: 57px;

        width: 200px;
        height: 100%;
        transform: translateX(0);

        animation: show-menu .8s;
    }

    .menu {
        flex-direction: column;
    }

    .mobile-menu {
        width: 40px;
        height: auto;
    
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    
        margin-right: 1.6em;
        cursor: pointer;
        transition: all .5s;
    }
    .mobile-menu, .line {   transition: all .5s     }
    .line {
        width: 100%;
        height: 4px;
    
        border-radius: 2px;
        background-color: #fff;
    }
    .mobile-menu:hover > .line {
        background-color: #f99e62;
    }

    .mobile-menu.animate {
        animation: rotacionarIcone .5s;
        transform: rotate(90deg);
    }

    .bg-video.active {
        width: 95%;
        height: 67%;
    }
}
