header {
    width: 100%;
    height: 2em;;

    background: #11073323;
    padding: 0.8em;

    z-index: 1;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: #fff;
    position: relative;
}
a::after {
    content: '';
    background-color: #fff;
    display: block;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 2px;
    transition-duration: .5s;
}
a:hover::after {
    width: 100%;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
.video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-video {
    display: none;
}
  
.bg-video.active {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 4em;
    padding-right: 4em;
}

.logo {
    width: 180px;
    height: auto;
    
    position: absolute;
        left: 10px;
        top: 3px;
    
        opacity: .8;
}

.menu-item {
    font-size: 1.8em;
    text-shadow: 1px 1px #1a076e;
}
.slider {
    color: #fff;
    z-index: 1;
    padding: 1em;

    position: relative;
    display: none;
}
.slider.active {
    display: flex;
}
.titulo-anime {
    font-size: 5em;
}
.text-container {
    min-width: 350px;
    max-width: 680px;
    
    margin-left: 4em;
    margin-top: 4em;
    padding: 10px;

    backdrop-filter: blur(1px);
    border-radius: 4px;
    text-shadow: 2px 1px #301a92;
}
.text-container > p {
    font-size: 1.8em;
}

.checkbox-container {
    width: 100%;
    overflow: hidden;

    margin-top: 4em;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.select {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #454352;
    cursor: pointer;
    transition: all 1s;
}
.select.selected {
    background: #87e7ff;
}

/* ------ Configurações de Responsividade ------*/

@media (max-width: 780px) {
    .menu-wrap {
        display: none;
    }
    .titulo-anime {
        font-size: 3.5em;
    }
    .text-container {
        margin-left: 0;
    }
    .text-container > p {
        font-size: 1.5em;
        padding-left: 10px;
    }
}